²
<div *ngIf="languageInjectable.property">

    <form  id="editMailForm" class="col-md-8 col-md-offset-2"
           method="POST" #mailForm="ngForm"  enctype="multipart/form-data">

          <div *ngIf="isChange" class="alert alert-success" style="color: green">
              <i class="fa fa-check-circle resume-infopers-icon"></i>
              {{'assure.change_maild.success_message' | language}}
          </div>


        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">
                        {{'assure.editPersonalDataForm.editPersonalDataForm.label.adresse_e_mail' | language}}
                    </label>
                    <input type="email" name="email" id="email" class="form-control"
                           readonly="readonly" disabled [value]="currentUserMail"
                    />
                </div>

                 </div>
        </div>


        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="newEmail">{{'assure.editPersonalDataForm.editPersonalDataForm.label.nouvelle_e_mail'| language}}
                        {{'com.owliance.portail.champs_obligatoire' | language}}</label>


                    <input type="email" name="newEmail" id="newEmail" value="" [(ngModel)]="Mail.newEmail"
                           maxlength="128" required
                           title="{{'assure.editPersonalDataForm.editPersonalDataForm.new.address.mail.info' | language}}"
                           class="form-control"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            minlength=5 maxlength=128
                           #newmail="ngModel"/>
         <!--          <label class="error " *ngIf="emailPatternError && submitted">
                        {{'admin.dynamic.addMotif.bloc1.label.error.pattern' | language}}
                    </label>
             -->

                    <label class="error " *ngIf="newmail?.errors?.pattern && submitted">
                        {{'entreprise.infoPersonnel.compte_entreprise.formInformationPersonnelles.format_erronee.adresse_email' | language}}
                    </label>

                    <label class="error " *ngIf="newmail?.errors?.required && submitted ">
                            {{'entreprise.infoPersonnel.compte_entreprise.formInformationPersonnelles.obligatoire.ce_champ_est_obligatoire'| language}}
                        </label>
                    <label class="error " *ngIf="newmail?.errors?.maxlength && submitted">
                        {{'entreprise.infoPersonnel.compte_entreprise.formInformationPersonnelles.taille_erronee.adresse_email' | language}}
                    </label>


                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="confirmation">{{'assure.editPersonalDataForm.editPersonalDataForm.label.confirmer' | language}}
                        {{'com.owliance.portail.champs_obligatoire' | language}}</label>
                    <input type="email" name="confirmation" id="confirmation" value="" [(ngModel)]="Mail.confirmationEmail"
                         required
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"

                           title="{{'assure.editPersonalDataForm.editPersonalDataForm.new.address.mail.info' | language}}"
                           class="form-control"
                           #conf="ngModel"

                    />
                   <label class="error " *ngIf="conf?.errors?.pattern && submitted">
                        {{'admin.dynamic.addMotif.bloc1.label.error.pattern' | language}}
                    </label>

                    <label class="error " *ngIf=" messageErrorConfirmMail ">
                        {{'entreprise.infoPersonnel.compte_entreprise.formInformationPersonnelles.confirmation_erronee.adresse_email'| language}}
                    </label>



                    <label class="error " *ngIf="conf?.errors?.required && submitted">
                        {{'entreprise.infoPersonnel.compte_entreprise.formInformationPersonnelles.obligatoire.ce_champ_est_obligatoire'| language}}
                    </label>



                </div>
            </div>
        </div>



        <p class="help-block">

            {{'assure.AskRemboursement.demanderRemboursement.remboursementForm.info.requiredFields' | language}}
        </p>


        <div class="col-sm-6 center-text">
            <div class="form-group">
                <button type="reset" id="cancelEditMail"
                        class="cancel form_button form-control reset btn lbp-btn-formulaire"
                        aria-hidden="true" (click)="resetForm();">
                    <i class="fa fa-remove hide-span-icon"></i>
                    {{'assure.editPersonalDataForm.editPersonalDataForm.bouton.annuler' |language}}
                </button>
            </div>
        </div>
        <div class="col-sm-6 center-text">
            <div class="form-group">
                <button
                        class="form_button form-control btn submit lbp-btn-formulaire" (click)="submit()" id="valideChangeMail">


                    <i class="fa fa-check hide-span-icon"></i>
                    {{'assure.editPersonalDataForm.editPersonalDataForm.bouton.valider' |language}}
                </button>
            </div>
        </div>

    </form>
</div>
